{% extends '@User/layoutUser.html.twig' %}




{% block fos_user_content %}
{% block login %}



      <div class="container">
         <div class="listar-themescrollbar">
            <div class="listar-logincontent">
               <div class="listar-themetabs">
                  <ul class="listar-tabnavloginregistered" role="tablist">
                     <li role="presentation" class="active"><a href="#listar-loging" data-toggle="tab">Log in</a></li>
                     <li role="presentation"><a href="#listar-register" data-toggle="tab">Register</a></li>
                  </ul>
                  <div class="tab-content listar-tabcontentloginregistered">
                     <div role="tabpanel" class="tab-pane active fade in" id="listar-loging">
                        <form class="listar-formtheme listar-formlogin">
                           <fieldset>
                              <div class="form-group listar-inputwithicon">
                                 <i class="icon-profile-male"></i>
                                 <input type="text" name="username" class="form-control" placeholder="Username Or Email">
                              </div>
                              <div class="form-group listar-inputwithicon">
                                 <i class="icon-icons208"></i>
                                 <input type="password" name="password" class="form-control" placeholder="Password">
                              </div>
                              <div class="form-group">
                                 <div class="listar-checkbox">
                                    <input type="checkbox" name="remember" id="rememberpass2">
                                    <label for="rememberpass2">Remember me</label>
                                 </div>
                                 <span class="active" role="presentation"><a href="#listar-lostpassword" data-toggle="tab">Lost your Password?</a></span>
                              </div>
                              <button class="listar-btn listar-btngreen">Register</button>
                           </fieldset>
                        </form>
                     </div>
                     <div role="tabpanel" class="tab-pane fade" id="listar-register">
                        <form class="listar-formtheme listar-formlogin">
                           <fieldset>
                              <div class="form-group listar-inputwithicon">
                                 <i class="icon-profile-male"></i>
                                 <input type="text" name="username" class="form-control" placeholder="Username">
                              </div>
                              <div class="form-group listar-inputwithicon">
                                 <i class="icon-icons208"></i>
                                 <input type="email" name="emailaddress" class="form-control" placeholder="Email Address">
                              </div>
                              <div class="form-group listar-inputwithicon">
                                 <i class="icon-lock-stripes"></i>
                                 <input type="password" name="password" class="form-control" placeholder="Password">
                              </div>
                              <div class="form-group listar-inputwithicon">
                                 <i class="icon-lock-stripes"></i>
                                 <input type="password" name="confirmpassword" class="form-control" placeholder="Password">
                              </div>
                              <button class="listar-btn listar-btngreen">login</button>
                           </fieldset>
                        </form>
                     </div>

                     <div role="tabpanel" class="tab-pane fade" id="listar-lostpassword">
                        <form class="listar-formtheme listar-formlogin">
                           <fieldset>

                              <div class="form-group listar-inputwithicon">
                                 <i class="icon-icons208"></i>
                                 <input type="email" name="emailaddress" class="form-control" placeholder="Email Address">
                              </div>


                              <button class="listar-btn listar-btngreen">Reset</button>
                           </fieldset>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="listar-shareor"><span>or</span></div>
               <div class="listar-signupwith">
                  <h2>Sign in With...</h2>
                  <ul class="listar-signinloginwithsocialaccount">
                     <li class="listar-facebook"><a href="javascript:void(0);"><i class="icon-facebook-1"></i><span>Facebook</span></a></li>
                     <li class="listar-twitter"><a href="javascript:void(0);"><i class="icon-twitter-1"></i><span>Twitter</span></a></li>
                     <li class="listar-googleplus"><a href="javascript:void(0);"><i class="icon-google4"></i><span>Google +</span></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>




{% endblock %}

{% endblock fos_user_content %}