{% trans_default_domain 'FOSUserBundle' %}






    <table border="0">
        <tr>
            <td><span class="label label-default">{{ 'profile.show.username'|trans }}:</span></td>

            <td><span class="label label-default">{{ user.username }}</span></td>
        </tr>

        <tr>
            <td><span class="label label-default">{{ 'profile.show.email'|trans }}:</span></td>

            <td><span class="label label-default">{{ user.email }}</span></td>
        </tr>





    </table>




